.cartBtn {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 100px;
    width: 200px;
    border: none;
    margin-top: 35px;
}


.cart__bottom {
    display: flex;
    margin-top: 60px;
}

.cart__bottom > p {
    margin-left: 15px;
    font-size: 12px;
    color: rgb(73, 68, 68);
}