.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 25px 35px;
    border-bottom: 1px solid lightgray;
}

.header__middle {
    display: flex;
}

.header__middle > p {
    margin-right: 60px;
}

.header__rightIcon {
    margin-right: 25px;
}


