.home {
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
}

.home__left {
    flex: 0.5;
}

.home__right {
    flex: 0.5;
}

.home__rightIcons {
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
    padding-right: 25px;
}

.home__rightIcon {
    border: 1px solid rgba(0, 128, 0, 0.575);
    border-radius: 100px;
    padding: 5px;
}

.active {
    background-color: rgba(0, 128, 0, 0.562);
    color: white;
    border: none;
    
}

.home__rightPayment {
    display: flex;
    /* background-color: whitesmoke; */
    justify-content: space-between;
    padding-top: 50px;
    height: 50vh;
    padding-bottom: 50px;
}

.home__rightBtns {
    display: flex;
    justify-content: flex-end;
}

.home__rightBtns > button {
    margin-right: 15px;
    padding: 12px 15px 12px 15px;
    /* width: 200px; */
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid black;
}

.home__rightBtns > button:hover {
    background-color: rgba(0, 128, 0, 0.425);
    border: 1px solid transparent;
    cursor: pointer;
}