.payment > p {
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(73, 68, 68);
}

.payment__paymentCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 50px;
}

.payment__deliveryCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 50px;
}