.register {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.register > h1 {
    margin-bottom: 35px;
}

.register > form > input {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 100px;
}

