.shippingForm > h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(73, 68, 68);
}

.shippingForm__buttons {
    margin-bottom: 35px;
}

.shippingForm__buttons > button {
    margin-right: 15px;
    padding: 15px;
    width: 120px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid lightgray;
}

.shippingForm__buttons > button:hover {
    background-color: rgba(0, 128, 0, 0.425);
    cursor: pointer;
}

.shippingForm > p {
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(73, 68, 68);
}

.shippingFormForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.shippingFormForm > input {
    padding: 15px;
    border-radius: 100px;
    border: 1px solid lightgray;
    width: 80%;
    outline-style: none;
}

.shippingForm__backBtn {
    display: flex;
    margin-top: 50px;
    cursor: pointer;
}

.shippingForm__backBtn > p {
    margin-left: 20px;
    margin-top: 2px;
}

