.cartCard {
    display: flex;
    margin-top: 15px;
}

.cartCard > img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.cartCard__text > p {
    margin-bottom: 5px;
    font-size: 12px;
}

.cartCard > p {
    margin-left: 35px;
    margin-right: 25px;
    font-size: 12px;
    color: rgb(73, 68, 68);
}