.deliveryCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 185px;
    border: 1px solid lightgray;
    border-radius: 25px;
}

.deliveryCard > img {
    height: 25px;
}