.paymentCard {
    height: 50px;
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentCard > img {
    height: 20px;
    width: 50px;
}